* {
  box-sizing:border-box;
}
.image {
  width:100%;
  height:150px;
}
.title {
  font-size:25px;
  text-transform:uppercase;
  font-weight:bold;
  color:rgb(110,110,110);
  font-family:arial narrow;
  margin:5px;
}
.link {
  text-decoration:none;
  color:gray;
  font-size:12px;
}
.container {
  width:100%;
}
.line {
  background-color:lightgray;
  padding:2px 0;
  border:none;
}
.header {
  display: flex;
  flex-flow: row wrap;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin:10px 0;
}
.text {
  width: calc(100% - 60px);
  text-align:right;
}
.nameheader {
  font-family:Source Sans Pro Light;
  font-size:45px;
  margin-bottom:0;
}
.subheader {
  font-family:Source Sans Pro;
  margin-top:0;
}
.f-width {
  width:100%;
}
.logo {
  border-radius:50%;
  width:60px;
  height:60px;
  align-self: center
}
.l-gray {
  color:lightgray;
}
.main {
  display: flex;
  flex-flow: row wrap;
}
.m {
  margin-top:20px;
}
.third {
  width: calc((100%/3) - 20px);
  margin: 10px;
  text-align: center;
}
@media (min-width:740px) {
  .container {
  	width:740px;
  	margin:auto;
  }
}
@media (max-width:450px) {
  .third {
    width: 100%;
  }
  p {
  	text-align:center;
  }
}
@media (min-width:350px) and (max-width:500px) {
  .third {
    width:75%;
    margin:auto;
  }
  .m {
  	text-align:center;
  }
}